---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus-stack
  namespace: prometheus
spec:
  values:
    alertmanager:
      enabled: true
      alertmanagerSpec:
        useExistingSecret: true
        configSecret: alertmanager-secrets
        storage:
          volumeClaimTemplate:
            spec:
              accessModes: ["ReadWriteOnce"]
              resources:
                requests:
                  storage: 1Gi
    prometheus:
      prometheusSpec:
        retention: 15d
        storageSpec:
          volumeClaimTemplate:
            spec:
              accessModes:
                - ReadWriteOnce
              resources:
                requests:
                  storage: 32Gi
    prometheus-node-exporter:
      prometheus:
        monitor:
          enabled: true
          relabelings:
            - sourceLabels: [__meta_kubernetes_pod_node_name]
              targetLabel: node
              action: replace
