---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus-stack
  namespace: prometheus
spec:
  values:
    alertmanager:
      enabled: true
      alertmanagerSpec:
        useExistingSecret: true
        configSecret: alertmanager-secrets
        storage:
          volumeClaimTemplate:
            spec:
              accessModes: ["ReadWriteOnce"]
              resources:
                requests:
                  storage: 1Gi
    prometheus:
      prometheusSpec:
        retention: 15d
        storageSpec:
          volumeClaimTemplate:
            spec:
              accessModes:
                - ReadWriteOnce
              resources:
                requests:
                  storage: 32Gi
    # kubeApiServer:
    #   enabled: false
    # kubelet:
    #   enabled: false
    # kubeControllerManager:
    #   enabled: false
    # coreDns:
    #   enabled: false
    # kubeEtcd:
    #   enabled: false
    # kubeScheduler:
    #   enabled: false
    # kubeProxy:
    #   enabled: false
    # kubeStateMetrics:
    #   enabled: false
