---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus-stack
  namespace: prometheus
spec:
  values:
    alertmanager:
      enabled: true
      alertmanagerSpec:
        useExistingSecret: true
        configSecret: alertmanager-secrets
        storage:
          volumeClaimTemplate:
            spec:
              accessModes: ["ReadWriteOnce"]
              resources:
                requests:
                  storage: 1Gi
    kubeEtcd:
      enabled: false
    kubeControllerManager:
      enabled: false
