---
apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-config-d-configmap
  namespace: fluentd-system
  labels:
    app: fluentd
data:
  system.conf: |-
    <system>
      log_level info
    </system>
    <source>
      @type monitor_agent
      bind 0.0.0.0
      port 24220
    </source>
