---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  values:
    gateway:
      listeners:
        root-web:
          port: 8000
          protocol: HTTP
          hostname: "barracuda.local"
          namespacePolicy:
            from: All
        root-websecure:
          port: 8443
          protocol: HTTPS
          hostname: "barracuda.local"
          namespacePolicy:
            from: All
          mode: Terminate
          certificateRefs:
            - name: root-barracuda-local-tls
              namespace: traefik
        web:
          hostname: "*.barracuda.local"
        websecure:
          port: 8443
          protocol: HTTPS
          hostname: "*.barracuda.local"
          namespacePolicy:
            from: All
          mode: Terminate
          certificateRefs:
            - name: wildcard-barracuda-local-tls
              namespace: traefik
