---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  values:
    gateway:
      listeners:
        $patch: replace
        web:
          port: 8000
          protocol: HTTP
          namespacePolicy:
            from: All
        websecure:
          port: 8443
          protocol: HTTPS
          namespacePolicy:
            from: All
          tls:
            enabled: true
            mode: Terminate
            certificateRefs:
              - name: wildcard-armadillo-local-tls
                namespace: traefik
