---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  chart:
    spec:
      chart: traefik
      # version: "37.3.0"
      version: "37.*"
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  upgrade:
    remediation:
      retries: 1
  interval: 1m0s
  values:
    providers:
      kubernetesGateway:
        enabled: true
      kubernetesIngress:
        enabled: false
    service:
      type: LoadBalancer
    gateway:
      namespacePolicy: All
      listeners:
        web:
          port: 8000
          protocol: HTTP
          namespacePolicy:
            from: All
    deployment:
      replicas: 1
