---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: hello-apps-root
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/soft-titus/argocd-apps
    path: env/heterodon
    targetRevision: main
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
