---
apiVersion: v1
kind: ConfigMap
metadata:
  name: minio-policy-configmap
  namespace: minio
data:
  sudoku-policy.json: |
    {
      "Version": "2012-10-17",
      "Statement": [
        {
          "Effect": "Allow",
          "Action": [
            "s3:GetBucketLocation",
            "s3:ListBucket"
          ],
          "Resource": [
            "arn:aws:s3:::sudoku-images"
          ]
        },
        {
          "Effect": "Allow",
          "Action": [
            "s3:GetObject",
            "s3:PutObject",
            "s3:DeleteObject"
          ],
          "Resource": [
            "arn:aws:s3:::sudoku-images/*"
          ]
        }
      ]
    }
