---
apiVersion: v1
kind: ConfigMap
metadata:
  name: minio-configmap
  namespace: minio
data:
  SUDOKU_BUCKET_NAME: "sudoku"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: minio-policy-configmap
  namespace: minio
data:
  sudoku-policy.json: |
    {
      "Version": "2012-10-17",
      "Statement": [
        {
          "Effect": "Allow",
          "Action": [
            "s3:GetBucketLocation",
            "s3:ListBucket"
          ],
          "Resource": [
            "arn:aws:s3:::sudoku"
          ]
        },
        {
          "Effect": "Allow",
          "Action": [
            "s3:GetObject",
            "s3:PutObject",
            "s3:DeleteObject"
          ],
          "Resource": [
            "arn:aws:s3:::sudoku/*"
          ]
        }
      ]
    }

---
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: minio-configmap
  namespace: default
data:
  AWS_REGION: ""
  S3_PROTOCOL: "http"
  S3_HOST: "minio.minio.svc.cluster.local"
  S3_PORT: "80"
