apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - gotk-components.yaml
  - gotk-sync.yaml
patches:
  - target:
      kind: Kustomization
      name: flux-system
      namespace: flux-system
    patch: |
      - op: replace
        path: /spec/prune
        value: false
  - patch: |
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --helm-cache-max-size=10
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --helm-cache-ttl=60m
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --helm-cache-purge-interval=5m
    target:
      kind: Deployment
      name: source-controller
      namespace: flux-system
  - patch: |
      - op: add
        path: /spec/template/spec/priorityClassName
        value: system-node-critical
    target:
      kind: Deployment
      namespace: flux-system
